
@{
    ViewBag.Title = "ListBlobs";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListBlobs</h2>



@model List<string>

<ul>
    @foreach (var item in Model)
    {
        <li>  <a href="/Image/GetFileFromBlob/?fileName=@item">@item</a></li>
    }
</ul>
